@charset "utf-8";

/*--------------------------------------------------------------*/
/*--------------------[ CSS Document reset ]--------------------*/
/*--------------------------------------------------------------*/

* {
	margin: 0;
	padding:0;
	outline:none;
}

/*--------------------------------------------------------------*/
/*-------------[ global tags, selectors, classes ]--------------*/
/*--------------------------------------------------------------*/

html, body {
	height:100%;
}

body {
	min-height:1060px;
	background:#f9f9f9;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:30px;
	color:#000000;
}

article, 
img, 
section {
	transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-moz-transition:all .2s linear; 
	-webkit-transition:all .2s linear;
	behavior: url(PIE.htc);
}

/*--------------------------------------------------------------
	gloabal => typography
--------------------------------------------------------------*/
p {
	margin:0 0 20px 0;
}

.center {
	text-align:center;
}

a {
	text-decoration:none;
	color:#1d6ac5;
}

a:hover {
	text-decoration:underline;
}

.highlight {
	font-weight:bold;
}

ul {
	list-style:none;
}

/*--------------------------------------------------------------
	gloabal => positioning
--------------------------------------------------------------*/

.clear {
	clear:both;
	height:0;
	overflow:hidden;
}

/*--------------------------------------------------------------
	gloabal => images
--------------------------------------------------------------*/
img {
	border:none;
}

/*--------------------------------------------------------------*/
/*-------------------------[ =container ]-----------------------*/
/*--------------------------------------------------------------*/

#container {
	min-height:100%;
	height:auto !important;
	height:100%;
	width:100%;
	margin: 0 0 -180px 0;
}

/*--------------------------------------------------------------*/
/*---------------------------[ =header ]------------------------*/
/*--------------------------------------------------------------*/

header#header {
	width:100%;
	height:98px;
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	background:#f9f9f9;
	border-bottom:1px solid #aaaaaa;
}

/*--------------------------------------------------------------
	header => logo
--------------------------------------------------------------*/
header#header h1.logo a {
	position:absolute;
	display:block;
	top:0;
	left:50px;
	overflow:hidden;
}

header#header h1.logo img {
	border:none;
}

header#header h1 span {
	display:block;
	text-indent:-9999px;
}

header#header h1.branding a:hover {
	text-decoration:none;
}

/*--------------------------------------------------------------
	header => navi
--------------------------------------------------------------*/

header#header ul#navi {
	list-style-type:none;
	width:750px;
	height:60px;
	position:absolute;
	top:33px;
	right:50px;
}

header#header ul#navi li {
	float:left;
	height:60px;
	margin:0 0 0 20px;
}

header#header ul#navi li a {
	display:block;
	height:60px;
	padding:0 5px;
	font-size:18px;
	font-weight:400;
	color:#000000;
	text-transform:uppercase;
	border-bottom:5px solid #f9f9f9;
	-webkit-transition:0.2s ease-in-out 0s;
	-moz-transition:0.2s ease-in-out 0s;
	-o-transition:0.2s ease-in-out 0s;
	-ms-transition:0.2s ease-in-out 0s;
	transition:0.2s ease-in-out 0s;
	behavior: url(PIE.htc);
}

header#header ul#navi li a:hover, 
header#header ul#navi li.active a {
	text-decoration:none;
	border-bottom:5px solid #aaaaaa;
	-webkit-transition:0.2s ease-in-out 0s;
	-moz-transition:0.2s ease-in-out 0s;
	-o-transition:0.2s ease-in-out 0s;
	-ms-transition:0.2s ease-in-out 0s;
	transition:0.2s ease-in-out 0s;
	behavior: url(PIE.htc);
}

/* */

header#header ul#navi2 li {
	float:left;
	height:100px;
	margin:200px 0 0 20px;
	border-top:5px solid #f9f9f9;
}

/*--------------------------------------------------------------*/
/*----------------[ =contentContainer ]-------------------------*/
/*--------------------------------------------------------------*/
#contentContainer {
	width:100%;
	padding:120px 0 0 0;
}

#contentContainer .content {
	width:1060px;
	margin:0 auto;
}

/*--------------------------------------------------------------
	contentContainer => hackerSpace
--------------------------------------------------------------*/
section#hackerSpace {
	width:100%;
	min-height:505px;
	padding:30px 0 0 0;
	background:url(../images/bg-hacker-space.jpg) center 0 repeat-x;
}

section#hackerSpace h2 {
	text-align:center;
	font-size:220px;
	font-weight:890;
	line-height:normal;
	letter-spacing:-0.05em;
	color:#000000;
}

section#hackerSpace h2 span {
	color:#FCDB04;
}

section#hackerSpace blockquote {
	display:block;
	width:820px;
	padding:0 0 0 240px;
	margin:0 auto 40px auto;
}

section#hackerSpace blockquote span.top {
	display:block;
	color:#e5e5e5;
	font-weight:100;
	font-size:100px;
	line-height:60px;
	letter-spacing:-0.05em;
}

section#hackerSpace blockquote span.bottom {
	display:block;
	color:#909090;
	font-weight:100;
	font-size:118px;
	letter-spacing:-0.05em;
	line-height:60px;
}

/*--------------------------------------------------------------
	contentContainer => location
--------------------------------------------------------------*/
section#location {
	height:653px;
	margin:0;
	padding:90px 0 0 0;
	overflow:hidden;
}

section#location ul.nav li {
	float:left;
	margin:0 5px 0 0;
}

section#location ul.nav li a {
	display:block;
	height:48px;
	font-size:18px;
	line-height:48px;
	font-weight:400;
	color:#909090;
	padding:0 15px;
	background:none;
}

section#location ul.nav li a:hover, 
section#location ul.nav li a.current {
	color:#FCDB04;
	background:#ffffff;
	text-decoration:none;
}

section#location iframe {
	margin:0;
	padding:0;
}

/*--------------------------------------------------------------
	contentContainer => aboutHackafe
--------------------------------------------------------------*/
section#aboutHackafe {
	width:100%;
	height:760px;
	padding:60px 0 0 0;
	background:url(../images/bg-about-hackafe.jpg) center 0 no-repeat;
	border-bottom:1px solid #aaaaaa;
}

section#aboutHackafe header {
	padding:40px 0 0 60px;
}

section#aboutHackafe header h2 {
	line-height:normal;
	margin:0 0 20px 0;
}

section#aboutHackafe header h2 span.white {
	color:#ffffff;
	font-weight:100;
	font-size:48px;
	text-transform:uppercase;
	padding:0 50px 0 0;
}

section#aboutHackafe header h2 span.black {
	color:#000000;
	font-weight:900;
	font-size:100px;
}

section#aboutHackafe .contentAboutHackafe {
	width:600px;
	margin:0 0 0 360px;
}

section#aboutHackafe ul.socialNavi {
	float:left;
	padding:20px 0 0 0;
	margin:-100px 0 0 0;
}

section#aboutHackafe ul.socialNavi li {
	float:left;
	height:76px;
	line-height:76px;
	margin:0 34px 0 0;
}

section#aboutHackafe ul.socialNavi li.text {
	float: left;
	font-size: 18px;
}

section#aboutHackafe .contentAboutHackafe  ul {
	margin:0 0 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
}

section#aboutHackafe .contentAboutHackafe  ul li {
	padding:0 0 0 30px;
	background:url(../images/bg-ul-li.png) left 15px no-repeat;
}

/*--------------------------------------------------------------
	contentContainer => member
--------------------------------------------------------------*/
section#member {
	padding:60px 0 50px 0;
	background:#ffffff;
	border-bottom:1px solid #aaaaaa;
}

section#member header {
	height:135px;
	padding:50px 50px 0 0;
	margin:0 0 25px 0;
	background:url(../images/bg-header-member.jpg) 0 bottom repeat-x;	
}

section#member header h2 {
	font-weight:900;
	float:left;
	margin:0 80px 0 0;
	font-size:48px;
	line-height:48px;
	text-transform:uppercase;
}

section#member header h2 span {
	font-weight:300;
}

section#member header h2 span.block {
	display:block;
}

section#member .contentMember {
	min-height:250px;
	padding:15px 0 0 0;
	background:url(../images/bg-content-member.jpg) 6px 0 no-repeat;
}

section#member .contentMember .regMember, 
section#member .contentMember .proMember {
	float:left;
	width:480px;
	padding:50px 0 0 0;
}

section#member .contentMember .regMember {
	margin:0 20px 0 40px;
}

section#member .contentMember .regMember h3, 
section#member .contentMember .proMember h3 {
	font-weight:900;
	font-size:100px;
	line-height:normal;
	text-align:center;
}

section#member .contentMember .proMember h3 {
	margin-left:40px;
}

section#member .contentMember .regMember h3 span, 
section#member .contentMember .proMember h3 span {
	font-weight:300;
	font-size:20px;
	text-transform:uppercase;
	position:relative;
	top:-15px;
}

section#member .contentMember .regMember ul, 
section#member .contentMember .proMember ul {
	width:380px;
	padding:50px;
	margin:0 0 20px 0;
	min-height:180px;
	background:#f6f6f6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
}

section#member .contentMember .regMember ul li, 
section#member .contentMember .proMember ul li {
	padding:0 0 0 30px;
	background:url(../images/bg-ul-li.png) left 15px no-repeat;
}

/*--------------------------------------------------------------
	contentContainer => contacts
--------------------------------------------------------------*/
section#contacts {
	padding:60px 0 100px 0;
	background:#f9f9f9;
}

section#contacts header {
	padding:0 0 30px 0;	
}

section#contacts header h2 {
	float:left;
	line-height:normal;
	color:#909090;
	font-weight:900;
	font-size:86px;
	letter-spacing:-0.08em;
	margin:0 20px 0 40px;
}

section#contacts header address {
	color:#909090;
	float:left;
	font-size:24px;
	font-weight:300;
	font-style:normal;
	padding:0 0 0 40px;
	position:relative;
	top:46px;
	background:url(../images/map-icon.png) left center no-repeat;
}

section#contacts ul.contactMembers li {
	float:left;
	width:465px;
	padding:0 0 0 30px;
	margin:0 0 0 10px;
	border-right:1px solid #aaaaaa;
}

section#contacts ul.contactMembers li:last-child {
	border:none;
}

section#contacts ul.contactMembers li img {
	margin:0 0 70px 60px;
}

section#contacts ul.contactMembers li h3 {
	font-weight:300;
	font-size:30px;
	line-height:30px;
	color:#565656;
	letter-spacing:-0.05em;
	margin-bottom: 15px;
}

section#contacts ul.contactMembers li span.phone {
	font-size:18px;
	font-weight:900;
}

section#contacts ul.contactMembers li span.mail {
	font-size:18px;
	font-weight:normal;
}

section#contacts ul.contactMembers li a.angeloff {
	margin-left:10px;
}

/*--------------------------------------------------------------*/
/*--------------------------[ =footer ]-------------------------*/
/*--------------------------------------------------------------*/

#push {
	height: 180px;
	clear:both;
}

footer {
	width:100%;
	height: 180px;
	margin:0 auto;
	border-top:1px solid #aaaaaa;
}

footer .footerContent {
	width:1060px;
	margin:0 auto;
}

footer h2 {
	float:left;
}

footer ul {
	width:360px;
	float:right;
	padding:26px 0 0 0;
}

footer ul li {
	float:left;
	margin:0 0 0 18px;
}

footer ul li a img {
	width:auto;
	height:39px;
}

#statusBar {
	background:#f9f9f9; 
	height:30px; 
	width:100%; 
	margin:99px 0 0 0; 
	padding-left: 58px; 
	border-bottom:1px solid #aaaaaa;
}

#statusBar ul#statusBarItems {
	list-style-type:none;
}

#statusBar ul#statusBarItems li {
	display:block;
}

.info {
	text-decoration:none;
	color:#000000;
}

.info A:link {
	text-decoration:none;
}

.info A:hover {
	text-decoration:underline;
}

.whoImageCell {
	vertical-align:text-top;
}

.whoTitle {
	font-size: normal; 
	line-height: normal;
}

.whoDetails {
	font-size: x-small; 
	line-height: normal;
}

.whoGuests {
	font-size: normal;
}
