<div id="announcements" class="main-container">

<div id="ann-main-container">

	<div id="ann-head-tittle">Обяви</div>

		<nav id="ann-navigation">

			<a href="#">За Hackafe</a>
			<a href="#">Платени</a>
			<a href="#">Безплатни</a>

		</nav>	

	<div id="ann-content">
<div class="hr"></div>
		<div class="ann-text">

			<p>djdgjdg</p>
			<p>sfghsfgh</p>
			<p>gadfgsdfgsfdgs</p>

		</div>

		<div class="ann-text">

			<p>djdgjdg</p>
			<p>sfghsfgh</p>
			<p>gadfgsdfgsfdgs</p>

		</div>

	</div><!-- end . -->


</div><!-- end . -->

</div> <!-- end of .main-container -->