<div id="announcements" class="main-container">

<div id="ann-main-container">

	<div id="ann-head-tittle">Обяви</div>

		<nav id="ann-navigation">

			<a href="#">За Hackafe</a>
			<a href="#">Платени</a>
			<a href="#">Безплатни</a>

		</nav>	

	<div id="ann-content">


		<div class="ann-text">

			<p class="date">Дата: 28.12.2014</p>
			<p>Описание: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lectus quis vehicula pulvinar. Sed feugiat aliquet erat, sed molestie mauris elementum quis. Suspendisse pharetra massa mattis placerat vehicula. Integer ornare pulvinar pharetra. In rutrum augue id nunc rhoncus suscipit. Integer ornare massa dapibus, luctus lectus eu, mattis diam. Maecenas mattis iaculis est, sed rutrum massa sodales quis.</p>
			<p class="fb-link">Контакти: 8345629836836</p>

		</div>

		<div class="ann-text">

			<p class="date">Дата</p>
			<p > Описание: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lectus quis vehicula pulvinar. Sed feugiat aliquet erat, sed molestie mauris elementum quis. Suspendisse pharetra massa mattis placerat vehicula. Integer ornare pulvinar pharetra. In rutrum augue id nunc rhoncus suscipit. Integer ornare massa dapibus, luctus lectus eu, mattis diam. Maecenas mattis iaculis est, sed rutrum massa sodales quis.</p>
			<p class="fb-link">Контакти</p>

		</div>

	</div><!-- end . -->


</div><!-- end . -->

</div> <!-- end of .main-container -->