<div id="contacts" class="main-container">
    <section id="location">
        <article>
            <div id="tabBox" class="clearfix">
                <div class="content clearfix">
                    <ul class="nav">
                        <li><a href="#tabOne" class="current" title="<%= I18n.t('contacts.map') %>"><%= I18n.t('contacts.map') %></a></li>
                        <li><a href="#tabTwo" title="<%= I18n.t('contacts.street') %>"><%= I18n.t('contacts.street') %></a></li>
                    </ul>
                </div><!-- End of content -->


                <div id="tabOne">
                    <iframe width="100%" height="605" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.bg/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ulitsa+%22Grozdov+pazar+2%22,+4000+Plovdiv&amp;sll=42.147496,24.750481&amp;sspn=0.054409,0.132093&amp;ie=UTF8&amp;hq=&amp;hnear=ulitsa+%22Grozdov+pazar+2%22,+4000+Plovdiv&amp;ll=42.145271,24.745339&amp;spn=0.006801,0.016512&amp;t=m&amp;z=14&amp;output=embed"></iframe>

                </div><!-- End of tabOne -->

                <div id="tabTwo" class="hide" style="position: relative; top: 0px; left: 0px; display: none;">
                    <iframe width="100%" height="605" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.bg/maps?hl=en&amp;t=m&amp;layer=c&amp;cbll=42.144371,24.746086&amp;panoid=CZH76nsZGypQ6SgoisES0w&amp;cbp=12,324.8,,0,1.63&amp;ie=UTF8&amp;ll=42.14438,24.74616&amp;spn=0.0017,0.004128&amp;z=19&amp;source=embed&amp;output=svembed"></iframe>

                </div><!-- End of tabTwo -->

            </div>

        </article>
    </section>

    <section id="contacts">
        <article>
            <div class="content">
                <header class="clearfix">
                    <h2><%= I18n.t('contacts.contacts') %></h2>
                    <address>
                      <%= I18n.t('contacts.org') %><br>
                      <%= I18n.t('contacts.loc') %>
                    </address>
                </header>
                <ul class="contactMembers">
                    <li>
                      <h3>Е-mail</h3>
                      <span class="mail"><%= I18n.t('contacts.chief') %></span>
                      <a href="mailto:info@hackafe.org" title="info@hackafe.org">info@hackafe.org</a><br>
                      <span class="mail"><%= I18n.t('contacts.events') %></span>
                      <a href="mailto:events@hackafe.org" title="events@hackafe.org">events@hackafe.org</a><br>
                      <span class="mail"><%= I18n.t('contacts.finance') %></span>
                      <a href="mailto:finance@hackafe.org" title="finance@hackafe.org">finance@hackafe.org</a><br>
                      <span class="mail"><%= I18n.t('contacts.manager') %></span>
                      <a href="mailto:office@hackafe.org" title="office@hackafe.org">office@hackafe.org</a><br>
                    </li>
                    <li>
                      <h3>E-mails</h3>
                      <span class="mail"><%= I18n.t('contacts.common') %></span>
                      <a href="http://luna.superhosting.bg/mailman/listinfo/general_hackafe.org" rel="external" title="general@hackafe.org">general@hackafe.org</a><br>
                      <span class="mail"><%= I18n.t('contacts.announcement') %></span>
                      <a href="http://luna.superhosting.bg/mailman/listinfo/announce_hackafe.org" rel="external" title="announce@hackafe.org">announce@hackafe.org</a><br>
                      <span class="mail"><%= I18n.t('contacts.system') %></span>
                      <a href="http://luna.superhosting.bg/mailman/listinfo/dev_hackafe.org" rel="external" title="dev@hackafe.org">dev@hackafe.org</a><br>
                    </li>
                </ul><!-- End of contactMembers -->

            </div>
        </article>
    </section>
</div> <!-- end of .main-container -->