<div id="events" class="main-container">

    <section class="events">
        
        <header>
            <h1>Събития и курсове</h1>
        </header>

        <nav id="events-menu" class="inner-navigation size-2">
            <a href="javascript:;" data-target="upcoming" class="show-content active">Събития</a>
            <a href="javascript:;" data-target="courses" class="show-content">Курсове</a>
        </nav>

        <div id="upcoming" class="section visible">
            <h2>Предстоящи събития</h2>
                <article class="event article-background">
                    <h3>Super qko subitie v Hackafe |ASDasdasdasd</h3>
                    <p class="date">
                        Дата: 22.09.2014  Местоположение: Hackafe Plovdiv
                    </p>
                    <p>
                        Описание:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ut, quaerat, iste incidunt est natus deleniti inventore facilis quis corporis a aperiam error reiciendis veniam perspiciatis eaque dolores debitis ex!
                    </p>
                    <p class="fb-link">
                        линк към FB: <a href="">link kum subitieto</a>
                    </p>
                </article>
               
                <article class="event article-background">
                    <h3>Super qko subitie v Hackafe |ASDasdasdasd</h3>
                    <p class="date">
                        Дата: 22.09.2014  Местоположение: Hackafe Plovdiv
                    </p>
                    <p>
                        Описание:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ut, quaerat, iste incidunt est natus deleniti inventore facilis quis corporis a aperiam error reiciendis veniam perspiciatis eaque dolores debitis ex!
                    </p>
                    <p class="fb-link">
                        линк към FB: <a href="">link kum subitieto</a>
                    </p>
                </article>
               
            
        </div>

        <div id="courses" class="section">
            <h2>Курсове</h2>

                <article class="event article-background">
                    <h3>Super qko subitie v Hackafe |ASDasdasdasd</h3>
                    <p class="date">
                        Дата: 22.09.2014  Местоположение: Hackafe Plovdiv
                    </p>
                    <p>
                        Описание:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ut, quaerat, iste incidunt est natus deleniti inventore facilis quis corporis a aperiam error reiciendis veniam perspiciatis eaque dolores debitis ex!
                    </p>
                    <p class="fb-link">
                        линк към FB: <a href="">link kum subitieto</a>
                    </p>
                </article>
               
                <article class="event article-background">
                    <h3>Super qko subitie v Hackafe |ASDasdasdasd</h3>
                    <p class="date">
                        Дата: 22.09.2014  Местоположение: Hackafe Plovdiv
                    </p>
                    <p>
                        Описание:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ut, quaerat, iste incidunt est natus deleniti inventore facilis quis corporis a aperiam error reiciendis veniam perspiciatis eaque dolores debitis ex!
                    </p>
                    <p class="fb-link">
                        линк към FB: <a href="">link kum subitieto</a>
                    </p>
                </article>
               

        </div><!-- end of .courses -->
            

            <div class="pagination">
                Архив на всички събития
            </div>
    </section>
    <!-- end of section .events -->

</div> <!-- end of .main-container -->