<div id="events" class="main-container">

    <section class="events">
        
        <header>
            <h1>Събития и курсове</h1>
        </header>

        <nav id="events-menu" class="inner-navigation size-2">
            <a href="javascript:;" class="show-events active">Събития</a>
            <a href="javascript:;" class="show-courses">Курсове</a>
        </nav>

        <div id="upcoming">
            <h2>Предстоящи събития</h2>
            <div class="event">
                <h3>Заглавие на събитието</h3>
                <ol>
                    <li>Дата:</li>
                    <li>Местоположение:</li>
                    <li>Описание:</li>
                    <li>линк към FB:</li>
                </ol>   
            </div>

            <div class="event">
                <h3>Заглавие на събитието</h3>
                <ol>
                    <li>Дата:</li>
                    <li>Местоположение:</li>
                    <li>Описание:</li>
                    <li>линк към FB:</li>
                </ol>   
            </div>

            <div class="pagination">
                Архив на всички събития
            </div>
        </div>

        <div id="courses">
            <h2>Курсове</h2>

            <div class="event">
                <h3>Заглавие на събитието</h3>
                <ol>
                    <li>Дата:</li>
                    <li>Местоположение:</li>
                    <li>Описание:</li>
                    <li>линк към FB:</li>
                </ol>   
            </div>
            
            <div class="event">
                <h3>Заглавие на събитието</h3>
                <ol>
                    <li>Дата:</li>
                    <li>Местоположение:</li>
                    <li>Описание:</li>
                    <li>линк към FB:</li>
                </ol>   
            </div>

        </div><!-- end of .courses -->

    </section>
    <!-- end of section .events -->

</div> <!-- end of .main-container -->